NodeRed_Dashboard.json
[
    {
        "id": "aac3f1af1ca3f2aa",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27e75417a2dc7948",
        "type": "mqtt in",
        "z": "aac3f1af1ca3f2aa",
        "name": "Temperature",
        "topic": "Temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1d3334cd07ac28bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "78437ef29ec854bb",
                "dab6f2df6412de9b"
            ]
        ]
    },
    {
        "id": "78437ef29ec854bb",
        "type": "ui_gauge",
        "z": "aac3f1af1ca3f2aa",
        "name": "Temp_gauge",
        "group": "8ed3e7b740a3f229",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "dab6f2df6412de9b",
        "type": "ui_chart",
        "z": "aac3f1af1ca3f2aa",
        "name": "Temp_graphs",
        "group": "5e2186d4142c83f9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature Log",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fa10fbda237b7d3a",
        "type": "ui_button",
        "z": "aac3f1af1ca3f2aa",
        "name": "",
        "group": "e5aa4b5cc59a073b",
        "order": 1,
        "width": 6,
        "height": 6,
        "passthru": false,
        "label": "EMERGENCY SHUTDOWN",
        "tooltip": "",
        "color": "White",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "33121b5ee07b460a"
            ]
        ]
    },
    {
        "id": "33121b5ee07b460a",
        "type": "mqtt out",
        "z": "aac3f1af1ca3f2aa",
        "name": "Shutdown",
        "topic": "Shutdown",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3334cd07ac28bc",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "f83b2155ee338020",
        "type": "mqtt in",
        "z": "aac3f1af1ca3f2aa",
        "name": "Speed",
        "topic": "Speed",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1d3334cd07ac28bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "c0f278deba6c5c3d",
                "e2afc20fc4e1b946"
            ]
        ]
    },
    {
        "id": "c0f278deba6c5c3d",
        "type": "ui_gauge",
        "z": "aac3f1af1ca3f2aa",
        "name": "Speed_gauge",
        "group": "8ed3e7b740a3f229",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed",
        "label": "m/s",
        "format": "{{value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "7",
        "seg2": "9",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "e2afc20fc4e1b946",
        "type": "ui_chart",
        "z": "aac3f1af1ca3f2aa",
        "name": "Speed_graph",
        "group": "5e2186d4142c83f9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Speed Log",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "ee3cc46d3732dba8",
        "type": "ui_numeric",
        "z": "aac3f1af1ca3f2aa",
        "name": "",
        "label": "Speed m/s",
        "tooltip": "",
        "group": "239c93e5e8c9710c",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "0.1",
        "className": "",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "d77289e56d0e300a"
            ]
        ]
    },
    {
        "id": "d77289e56d0e300a",
        "type": "mqtt out",
        "z": "aac3f1af1ca3f2aa",
        "name": "",
        "topic": "Speed",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3334cd07ac28bc",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "c7be6c9414ce9a91",
        "type": "ui_text_input",
        "z": "aac3f1af1ca3f2aa",
        "name": "",
        "label": "Speed (m/s)",
        "tooltip": "",
        "group": "239c93e5e8c9710c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "d77289e56d0e300a"
            ]
        ]
    },
    {
        "id": "d7595d2fbcacd3b1",
        "type": "mqtt in",
        "z": "aac3f1af1ca3f2aa",
        "name": "Shutdown_out",
        "topic": "Shutdown",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1d3334cd07ac28bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "789b4de8bd24fbb0"
            ]
        ]
    },
    {
        "id": "789b4de8bd24fbb0",
        "type": "ui_toast",
        "z": "aac3f1af1ca3f2aa",
        "position": "top right",
        "displayTime": "3",
        "highlight": "Red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Shutdown_notification",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "1d3334cd07ac28bc",
        "type": "mqtt-broker",
        "name": "MQTT_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8ed3e7b740a3f229",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "30ddc595a876e765",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e2186d4142c83f9",
        "type": "ui_group",
        "name": "Graphs",
        "tab": "30ddc595a876e765",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5aa4b5cc59a073b",
        "type": "ui_group",
        "name": "Emergency Shutdown !",
        "tab": "30ddc595a876e765",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "239c93e5e8c9710c",
        "type": "ui_group",
        "name": "Speed control",
        "tab": "f7cc92144cd835c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30ddc595a876e765",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f7cc92144cd835c4",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]